{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Reenie+Beanie&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap'); </style>

</head>
<body>

{% block content %}
{% endblock content %}
{% block extra_body %}
{% endblock %}

<script src="{% static 'js/jquery-3.2.1.slim.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
{% block extra_scripts %}
{% endblock extra_scripts %}
</body>
</html>